.mainBackground {
  min-width: 1190px;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(178.81deg, #FFFDD4 11.07%, #D8EFDF 57.35%, rgba(88, 204, 231, 0.87) 126.32%);
  background-size: 160% 160%;
  -webkit-animation: gradient 8s ease infinite;
  animation: gradient 8s ease infinite;
}
@keyframes gradient {
  0% { background-position: 50% 0%; }
  50% { background-position: 50% 100%; }
  100% { background-position: 50% 0%; }
}
@-webkit-keyframes gradient {
  0% { background-position: 50% 0%; }
  50% { background-position: 50% 100%; }
  100% { background-position: 50% 0%; }
}

.logindog{
  width: 540px;
  position: relative;
  top : 20%;
  left: 480px;
}
.kakaologin{
  /* margin-top: 40px; */
  width: 300px;
  position: relative;
  top : 30%;
  left: 72px;
}