.nav{
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh; */
  position: sticky;
  top: 0;
}
.logo {
  position: absolute;
  top : 40px;
  left: 40px;
  width: 56px;
  /* padding: 40px; */
  cursor: pointer;
}
.login {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 100px;
  height: 40px;
  background: #94A68B;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.text {
  font-family: "maplelight";
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* modal창 외부화면 */
.Modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9999;
}
.ModalText {
  font-family: 'mapleLight';
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #4f4f4f;
  margin-top: 2px;
  text-align: center;
}
/* modal창 */
.ModalBody {
  position: absolute;
  width: 328px;
  height: 150px;
  padding: 8px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.LOModalBody {
  position: absolute;
  width: 328px;
  height: 200px;
  padding: 8px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  top: 16%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modalCloseBtn {
  position: absolute;
  right: 22px;
  top: 24px;
}

.buttonBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.NextButton {
  width: 92px;
  height: 40px;
  position: absolute;
  right: 32px;
  top: 150px;
  /* margin: 16px; */
  background: #94A68B;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'mapleLight';
  letter-spacing: 2px;
  color: white;
}
