com.ssafy:
  db.url.host: 54.180.141.174

spring:
  datasource:
    url: jdbc:mysql://${com.ssafy.db.url.host}:3306/b301?userSSL=false?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Seoul&zeroDateTimeBehavior=convertToNull&rewriteBatchedStatements=true
    username: user
    password: b301jjang!!
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
        show_sql: true
        use_sql_comments: true
  output.ansi.enabled: always
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

logging:
  level:
    org.hibernate.type.descriptor.sql: TRACE
    org.springframework.web: DEBUG
    com.ssafy: DEBUG

jwt:
  secret: mySecret
  expiration: 1296000000

com:
  ssafy:
    kakao:
      client_id: 2ce58d3931b2bc40f1798853c0f9b490
      redirect_uri: https://k7b301.p.ssafy.io/loginresult